{% extends "travel/base.html" %}
{% block travel_heading %}Travelogue {{ title }}{% endblock %}
{% block travel_content %}
    {% if form.errors %}
    <p class="bg-danger">Please fix the error below</p>
    {% endif %}
    <form class="form-horizontal" action="" method="post" accept-charset="utf-8">
        <div class="well">
            <fieldset>
                <div class="form-group">
                    <label for="id_message" class="col-lg-1 control-label">Description</label>
                    <div class="col-lg-11">
                        {% if form.message.errors %}
                        {{ form.message.errors }}
                        {% endif %}
                        <textarea rows="12" class="form-control" id="id_message" name="message"
                            placeholder="Please add a description of the {{ title }}"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-11 col-lg-offset-1">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
{% endblock travel_content %}
