<form class="form-horizontal" action="" method="post" accept-charset="utf-8">
    {% if form.errors %}
    <div class="has-error">
        <p class="help-block">Please fix errors below:</p>
    </div>
    {% endif %}
    
    <div class="form-group{% if form.arrival.errors %} has-error{% endif %}">
        <label for="id_arrival" class="col-sm-1 control-label">When</label>
        <div class="col-sm-3">
            {{ form.arrival }} {% if form.arrival.errors %}<br>
                {{ form.arrival.errors }}
            {% endif %}
        </div>
        
    </div>
    <div class="form-group">
        <label for="id_rating" class="col-sm-1 control-label">Rating</label>
        <div class="col-sm-3">
            {{ form.rating }}
        </div>
        
    </div>
    <div class="form-group">
        <label for="id_note" class="col-sm-1 control-label">Notes</label>
        <div class="col-sm-8">
            {{ form.note }}
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-1">
            <button type="submit" class="btn btn-default" value="Save">Save</button>
        </div>
    </div>
</form>
