{% load url from future %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {# <link rel="shortcut icon" href="../../assets/ico/favicon.png"> #}
    <title>Free Travelogue {% block title %}{% endblock %}</title>
    <meta name="keywords" content="travel,travelogue,journal,log,history,location" />
    <meta name="description" content="Keep a journal of your travels, present, past, and future" />
    <meta name="verify-v1" content="e28oOj/CWSIssFH+HHVxW1uSB4WrHdP2Fw3Z7H2eV/g=" >

    <link rel="stylesheet" href="{{ MEDIA_URL }}bootstrap/css/bootstrap.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{ MEDIA_URL }}js/jquery/css/humanity/jquery-ui-1.10.3.custom.css" type="text/css">
    {% if not DEBUG %}
    <link href='http://fonts.googleapis.com/css?family=Limelight' rel='stylesheet' type='text/css'>
    {% endif %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/travel.css" type="text/css" media="screen, print">
    {# <link href='http://fonts.googleapis.com/css?family=Ropa+Sans:400italic' rel='stylesheet' type='text/css'> #}
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="{{ MEDIA_URL }}js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/jquery-1.9.1.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/jquery-ui-1.10.3.custom.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/lodash.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/travel.js" charset="utf-8"></script>
    {% block extra_head %}{% endblock extra_head %}
</head>
<body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Free Travelogue</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-globe"></span> Browse <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a title="Countries of the world" href="{% url 'travel-by-locale' 'co' %}">Countries</a>
                            <li><a title="States, provinces, territories of the world" href="{% url 'travel-by-locale' 'st' %}">States</a>
                            <li><a title="Cities of the world" href="{% url 'travel-by-locale' 'ct' %}">Cities</a>
                            <li><a title="Airports of the world" href="{% url 'travel-by-locale' 'ap' %}">Airports</a>
                            <li><a title="Nation parks of the world" href="{% url 'travel-by-locale' 'np' %}">National Parks</a>
                            <li><a title="Landmarks of the world" href="{% url 'travel-by-locale' 'lm' %}">Landmarks</a>
                            <li><a title="Continents of the world" href="{% url 'travel-by-locale' 'cn' %}">Continents</a>
                            <li><a title="World Heritage sites of the world" href="{% url 'travel-by-locale' 'wh' %}">World Heritage Sites</a>
                            <li class="divider"></li>
                            <li class="dropdown-header">More</li>
                            <li><a href="{% url 'travel-todos' %}">Bucket lists</a></li>
                            <li><a href="{% url 'travel-profiles' %}">Profiles</a></li>
                        </ul>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span> {{ user.username }}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'travel-search-advanced' %}">Advanced Search</a></li>
                            <li><a href="{% url 'travel-profile' user.username %}">My Travelogue</a></li>
                            {% if user.is_superuser %}
                            <li class="divider"></li>
                            <li><a href="{% url 'travel-entity-start-add' %}">New Entity</a></li>
                            {% endif %}
                            <li class="divider"></li>
                            <li><a href="{% url 'acct-logout' %}">Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
                {% else %}
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-lock"></span> Account <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'acct-login' %}?next={{ request.path }}">Log in</a></li>
                            <li><a href="{% url 'registration-register' %}">Register</a></li>
                        </ul>
                    </li>
                </ul>
                {% endif %}
                <form class="navbar-form navbar-right" role="search" action="{% url 'travel-search' %}" method="get" accept-charset="utf-8">
                    <div class="form-group">
                        <input type="text" class="form-control input-sm" placeholder="Search" name="search">
                    </div>
                    <div class="form-group">
                        <select class="form-control input-sm" style="width: 6.5em" name="type">
                            <option value="" selected>&mdash; All &mdash;</option>
                            <option value="co">Country</option>
                            <option value="st">State</option>
                            <option value="ap">Airport</option>
                            <option value="ct">City</option>
                            <option value="np">National Park</option>
                            <option value="lm">Landmark</option>
                            <option value="cn">Continent</option>
                            <option value="wh">World Heritage Site</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </form>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    <div class="container travel-body">
        {% block travel_image %}{% endblock travel_image %}
        {% if messages %}{% block user_messages %}
        <div class="user-messages">
            <ul> {% for message in messages %}
                <li>{{ message }}</li> {% endfor %}
            </ul>
        </div>
        {% endblock %}{% endif %}
        <h1>{% block travel_heading %}{% endblock %}</h1>
        <!-- travel_content -->
        {% block travel_content %}{% endblock travel_content %}
    </div> <!-- /container -->
    {% block extra_body %}{% endblock extra_body %}
    <hr />
    <div class="container" id="footer">
        <div>
        {% block footer-details %}
            <ul>
                <li><a title="About this site" class="quiet" href="{% url 'travel-about' %}">About</a></li>
                <li><a title="Member request form" class="quiet" href="{% url 'travel-request' %}">Submit a request</a></li>
                <li><a title="Member problem form" class="quiet" href="{% url 'travel-problem' %}">Report a problem</a></li>
            </ul>
        {% endblock %}
        </div>
        <div>
            <span class="quiet">Copyright &copy; 2014 david krauth</span>
        </div>
    </div>
    {% block google_analytics %}
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-6693026-6");
            pageTracker._trackPageview();
        }
        catch(err) {}
    </script>
    {% endblock %}
    <script src="{{ MEDIA_URL }}bootstrap/js/bootstrap.min.js"></script>
    {% block end_body %}{% endblock end_body %}
</body>
</html>