{% extends "travel/base.html" %}
{% block title %}{{ single_label}} Listing{% endblock title %}
{% block travel_heading %}Fix it{% endblock %}
{% block travel_content %}

    {% load pagination_tags %}
    {% autopaginate places 250 %}
    {% paginate %}

    <form action="" method="post" accept-charset="utf-8">
    <p>Total: {{ places|length }}</p>
    <table class="table table-hover table-striped table-condensed entity-table">
        <thead>
            <tr>
                <th></th>
                <th>Type</th>
                <th>Name</th>
                <th>Locality</th>
                <th>State</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody> 
            {% for place in places %}
            <tr>
                <td>{% if place.type.abbr == 'lm' %}<input type="checkbox" name="fix" value={{ place.id }}>{% endif %}</td>
                <td>{{ place.type.abbr.upper }}</td>
                <td>
                    <a href="{{ place.get_absolute_url }}">{{ place.name }}</a>
                </td>
                <td>{{ place.locality }}</td>
                <td>{% if place.state %}
                    <a href="{{ place.state.get_absolute_url}}">
                        <img class="flag" src="{{ place.state.flag.thumb.url }}" />
                        {{ place.state.name }}</a>{% endif %}
                </td>
                <td>
                    <a href="{{ place.country.get_absolute_url }}">
                        <img src="{{ place.country.flag.thumb.url }}" />
                        {{ place.country.name }}</a>
                </td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
    <button type="submit" class="btn btn-default">Fix</button>
    </form>
    
{% endblock travel_content %}




