{% extends "travel/base.html" %}
{% load staticfiles %}
{% block travel_heading %}Welcome{% endblock %}
{% block travel_content %}
    <p>
        <img src="{% static 'img/clouds.jpg' %}" style="float: right" />
        <strong>Features</strong>
    </p>
    
    <ul style="list-style-type: circle">
        <li>Keep a mini-journal for any place you've visited</li>
        <li>Create to-do lists</li>
        <li>Group log entries together as trips</li>
        <li>Follow your friend's travels</li>
        <li>Find facts, maps, and photos for hundreds of places</li>
    </ul>
    
    <p>
        Getting started is easy and free. Signing up takes only a minute and there
        are no hassles or commitments.
    </p>

    <br />{% if not user.is_authenticated %}
    <p class="text-center">
        <a href="{% url 'registration-register' %}" class="btn btn-primary">Register &raquo;</a>
        <a href="{% url 'account-login' %}" class="btn btn-default">Log in</a>
    </p>{% endif %}
{% endblock travel_content %}