{% extends "travel/base.html" %}
{% load staticfiles %}
{% block title %}World voltage and plug specifications{% endblock %}
{% block travel_heading %}World voltage and plug specifications{% endblock %}
{% block travel_content %}
    <table class="plugs table table-bordered table-condensed table-responsive text-center">
        <tr>
            <td><img class="img-responsive" src="{% static 'img/plugs/a.jpg' %}"><br><strong>Category A</strong><br>125V~, 2 flat blades</td>
            <td><img class="img-responsive" src="{% static 'img/plugs/b.jpg' %}"><br><strong>Category B</strong><br>2 flat blades, grounded</td>
            <td><img class="img-responsive" src="{% static 'img/plugs/c.jpg' %}"><br><strong>Category C</strong><br>oblique flat blades</td>
            <td><img class="img-responsive" src="{% static 'img/plugs/d.jpg' %}"><br><strong>Category D</strong><br>oblique flat blades, grounded</td>
            <td><img class="img-responsive" src="{% static 'img/plugs/e.jpg' %}"><br><strong>Category E</strong><br>2 round pins</td>
        </tr>
        <tr>
            <td><img class="img-responsive" src="{% static 'img/plugs/f.jpg' %}"><br><strong>Category F</strong><br>2 round pins</td>
            <td><img class="img-responsive" src="{% static 'img/plugs/g.jpg' %}"><br><strong>Category G</strong><br>2 round pins, grounded</td>
            <td><img class="img-responsive" src="{% static 'img/plugs/i.jpg' %}"><br><strong>Category I</strong><br>3 flat blades UK type plug</td>
            <td><img class="img-responsive" src="{% static 'img/plugs/j.jpg' %}"><br><strong>Category J</strong><br>220V~, 2 flat blades</td>
            <td><img class="img-responsive" src="{% static 'img/plugs/k.jpg' %}"><br><strong>Category K</strong><br>3 round pins triangle (6A)</td>
        </tr>
        <tr>
            <td><img class="img-responsive" src="{% static 'img/plugs/l.jpg' %}"><br><strong>Category L</strong><br>3 round pins triangle (16A)</td>
            <td><img class="img-responsive" src="{% static 'img/plugs/m.jpg' %}"><br><strong>Category M</strong><br>Swiss type plug</td>
            <td><img class="img-responsive" src="{% static 'img/plugs/n.jpg' %}"><br><strong>Category N</strong><br>Italy type plug</td>
            <td><img class="img-responsive" src="{% static 'img/plugs/o.jpg' %}"><br><strong>Category O</strong><br>Denmark type plug</td>
            <td></td>
        </tr>
    </table>
{% endblock travel_content %}
