{% extends "travel/base.html" %}
{% block extra_head %}{{ block.super }}
    <style type="text/css" media="screen">
        .todo-result tbody tr td:last-child { width: 40px; }
        .flag-32 { width: 36px; }
        .flag-32 img { box-shadow: 1px 2px 6px #777;}
        td .glyphicon { font-size: 1.25em; color: #73a947;}
    </style>
{% endblock extra_head %}
{% block travel_heading %}Bucket List: {{ todo.title }}{% endblock %}
{% block travel_content %}
    <p>{{ todo.description }}</p>
    {% if user.is_authenticated %}
    <p class="todo-summary">
        You have completed <strong>{{ stats.done }}</strong> of <strong>{{ stats.total }}</strong>
        entries for this Bucket list.
    </p>
    {% endif %}
    <table class="todo-result table table-striped travel-action">
    <thead>
        <tr class="">
            <th></th>
            <th>Entity</th>
            <th>Visits</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for obj,logged in entities %}
        <tr data-id="{{ obj.id }}">
            <td class="flag-32">{% if obj.flag %}
                <img src="{{ obj.flag.thumb.url }}" />{% endif %}
            </td>
            <td>
                <a href="{{ obj.get_absolute_url }}">{{ obj.descriptive_name }}</a>
            </td>
            <td>{{ logged }}</td>
            <td class="text-center" style="font-size: 1.125em">{% if logged %}
                <i class="glyphicon glyphicon-ok-circle"></i>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock travel_content %}



