{% extends "travel/base.html" %}
{% block title %}Bucket  Lists{% endblock title %}
{% block travel_heading %}Bucket Lists{% endblock %}
{% block travel_content %}
    <table class="table table-hover table-striped table-condensed">
    <thead>
        <tr class="">
            <th>Bucket</th>
            <th>Description</th>
            <th>Entries</th>
            <td>Updated</td>
        </tr>
    </thead>
    <tbody>{% for todo in todos  %}
        <tr>
            <td><a href="{{ todo.get_absolute_url }}">{{ todo }}</a></td>
            <td>
                {{ todo.description }}{% if todo.is_private %}<sup>*</sup>{% endif %}
            </td>
            <td>{{ todo.entities.count }}</td>
            <td>{{ todo.last_update }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock travel_content %}
