{% extends "travel/base.html" %}
{% block travel_heading %}Bucket List: {{ bucket_list.title }}{% endblock %}
{% block travel_content %}
    <p>{{ bucket_list.description }}</p>
    {% if user.is_authenticated %}
    <p class="bucket-summary">
        You have completed <strong>{{ stats.done }}</strong> of <strong>{{ stats.total }}</strong>
        entries for this Bucket list.
    </p>
    {% endif %}
    <table class="bucket-result table table-striped travel-action">
    <thead>
        <tr class="">
            <th></th>
            <th>Entity</th>
            <th>Visits</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for obj,logged in entities %}
        <tr data-id="{{ obj.id }}">
            <td class="flag-32">{% if obj.flag %}
                <img src="{{ obj.flag.thumb.url }}" />{% endif %}
            </td>
            <td>
                <a href="{{ obj.get_absolute_url }}">{{ obj.descriptive_name }}</a>
            </td>
            <td>{{ logged }}</td>
            <td class="text-center" style="font-size: 1.125em">
                {% include "travel/_visited.html" with id=obj.id %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock travel_content %}



