{% extends "travel/entities/listing/base.html" %}
{% block list_header %}
    <th>Code</th>
    <th>Name</th>
    <th>State</th>
    <th>County</th>
    <th></th>
{% endblock list_header %}
{% block listing %}
    {% for place in places %}
    <tr>
        <td>
            <a href="{{ place.get_absolute_url }}">{{ place.code }}</a>
        </td>
        <td>{{ place.name }}{% if place.name != place.locality %}, {{ place.locality }}{% endif %}</td>
        <td>{% if place.state %}
            <img class="flag" src="{{ place.state.flag.thumb.url }}" />
            <a href="{{ place.state.get_absolute_url }}">{{ place.state }}</a>{% endif %}
        </td>
        <td>
            <img class="flag" src="{{ place.country.flag.thumb.url }}" />
            <a href="{{ place.country.get_absolute_url }}">{{ place.country }}</a>
        </td>
        <td>{% include "travel/_visited.html" with id=place.id %}</td>
    </tr>
    {% endfor %}
{% endblock listing %}


