{% extends "travel/entities/listing/base.html" %}
{% block extra_head %}
    <style type="text/css" media="screen">
        .table tbody > tr > td:first-of-type {
            vertical-align: middle;
        }
    </style>
{% endblock extra_head %}
{% block list_header %}
    <th>Flag</th>
    <th>
        Name / Official Name
    </th>
    <th>Code</th>
    <th>Capital</th>
    <th>Continent</th>
    <th></th>
{% endblock list_header %}
{% block listing %}
    {% for place in places %}
    <tr>
        <td>{% if place.flag.thumb %}
            <img class="flag" src="{{ place.flag.thumb.url }}" />
        {% endif %}</td>
        <td>
            <a href="{{ place.get_absolute_url }}">{{ place.name }}</a><br>
            <em>{{ place.full_name }}</em>
        </td>
        <td>{{ place.code }}</td>
        <td>
            {% if place.capital %}
            <a href="{{ place.capital.get_absolute_url }}">
                {{ place.capital.name }}
            </a>
            {% endif %}
        </td>
        <td>
            {{ place.continent }}
        </td>
        <td>{% include "travel/_visited.html" with id=place.id %}</td>
    </tr>
    {% endfor %}
{% endblock listing %}


