{% extends "travel/entities/listing-base.html" %}
{% block list_header %}
    <th>Code</th>
    <th>Name</th>
    <th>Location</th>
    <th>State</th>
    <th>County</th>
    <th></th>
{% endblock list_header %}
{% block listing %}
    {% for place in places %}
    <tr>
        <td>
            <a href="{{ place.get_absolute_url }}">{{ place.code }}</a>
        </td>
        <td>{{ place.name }}</td>
        <td>{{ place.location }}</td>
        <td>{% if place.state %}
            <img class="flag" src="{{ place.state.flag.width_32.url }}" />
            <a href="{{ place.state.get_absolute_url }}">{{ place.state }}</a>{% endif %}
        </td>
        <td>
            <img class="flag" src="{{ place.country.flag.width_32.url }}" />
            <a href="{{ place.country.get_absolute_url }}">{{ place.country }}</a>
        </td>
        <td>{% if place.id in checklist %}
            <img src="{{ MEDIA_URL }}img/icons/24/accept.png">{% endif %}
        </td>
    </tr>
    {% endfor %}
{% endblock listing %}


