{% extends "travel/base.html" %}
{% load url from future %}
{% block extra_head %}
    <style type="text/css" media="screen">
        .related-content { padding-left: 1em; }
        .travel-body { position: relative; }
        .travel-body > a.travel-image { position: absolute; top: 20px; right: 20px; }
        .travel-body > h1, .travel-body > .entity-details { margin-right: 128px; }
    </style>
{% endblock extra_head %}
{% block travel_image %}
{% if place.flag %}
<a class="pull-right travel-image" href="{{ place.flag.width_512.url }}">
    <img class="flag" src="{{ place.flag.width_128.url }}"></a>
{% endif %}
{% endblock travel_image %}
{% block travel_heading %}
    {{ place.name }}&nbsp;{% if user.is_superuser %}<a href="{{ place.get_edit_url }}"><small class="glyphicon glyphicon-edit"></small></a>{% endif %}
{% endblock %}
{% block travel_content %}
    <dl class="dl-horizontal entity-details">
        <dt>Official name</dt>
        <dd>
            {{ place.full_name }} |
            <a class="external" href="{{ place.external_url }}">{{ place.external_url_name }} <small class="glyphicon glyphicon-new-window"></small></a>
            
        </dd>
        
        {% if place.capital %}
        <dt>Capital</dt>
        <dd>
            <a href="{{ place.capital.get_absolute_url }}">{{ place.capital.name }}</a> |
            <a class="mapit" href="{{ place.capital.google_maps_url }}">Map</a>
        </dd>
        {% endif %}

        {% if place.country %}
        <dt>Country</dt>
        <dd>
            <a href="{{ place.country.get_absolute_url }}">{{ place.country }}</a>
        </dd>
        {% endif %}
        
        {% with place.get_continent as continent %}
        {% if continent %}
        <dt>Continent</dt>
        <dd>
            <a href="{{ continent.get_absolute_url }}">{{ continent }}</a>
        </dd>
        {% endif %}
        {% endwith %}
        
        {% if place.state %}
        <dt>State</dt>
        <dd>
            <a href="{{ place.state.get_absolute_url }}">{{ place.state }}</a>
        </dd>
        {% endif %}
        
        {% if place.locality or place.lat %}
        <dt>Location</dt>
        <dd>
            {% if place.locality %}{{ place.locality }}<br>{% endif %}
            {% if place.lat and place.lon %}
            <a class="latlon mapit" href="{{ place.google_maps_url }}">
                {{ place.lat }}&deg; Lat, {{ place.lon }}&deg; Lon</a>
            <span class="latlon"></span>
            {% endif %}
        </dd>
        {% endif %}
        
        {% if place.code %}
        <dt>Code</dt>
        <dd>{{ place.code }}</dd>
        {% endif %}
        
        {% with place.related_entities as related %}
        {% if related %}
        <dt>Related</dt>
        <dd id="related">{% block related %}
            <ul class="related-content">{% for rel in place.related_entities %}
                <li>
                    <a href="{% url 'travel-entity-relationships' place.type.abbr place.code rel.abbr %}">
                        <span>{{ rel.count }}</span> {{ rel.text }}</a>
                </li>
                {% endfor %}
            </ul>{% endblock related %}
        </dd>
        {% endif %}
        {% endwith %}
        
        {% block extra_details %}{% endblock extra_details %}
    </dl>
    
    
    {% if user.is_authenticated %}
    {% with history|length as count %}
    
    <h2>Your Travel Log <small><span class="label label-default">{{ count }} entr{{ count|pluralize:"y,ies" }}</span></small></h2>
    
    <div class="panel panel-default">
        <div class="panel-heading">Add a log entry</div>
        <div class="panel-body">
            {% include "travel/_log-entry-form.html" %}
        </div>
    </div>
    
    {% if count %}
    <div class="panel panel-default">
        <div class="panel-heading">Previous Log Entries</div>
        <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Rating</th>
                <th>Edit?</th>
            </tr>
        </thead>
        <tbody> {% for entry in history %}
            <tr>
                <td>{{ entry.arrival|date:"D, j M y" }}</td>
                <td>{{ entry.arrival|date:"P" }}</td>
                <td>{{ entry.get_rating_display }}</td>
                <td>
                    <a title="Edit this log entry" href="{{ entry.get_absolute_url }}">
                        <i class="glyphicon glyphicon-edit"></i></a>
                </td>
            </tr>
            {% if entry.notes %}
            <tr>
                <td colspan="4">
                    <blockquote>
                    {{ entry.notes.safe_html }}
                    </blockquote>
                </td>
            </tr>{% endif %} {% endfor %}
        </tbody>
        </table>
    </div>
    {% endif %}
    
    {% endwith %}
    {% endif %}
{% endblock travel_content %}
{% block end_body %}
    <script type="text/javascript">
    </script>
{% endblock end_body %}