{% extends "travel/base.html" %}
{% block subheader %}{{ block.super }}{% endblock subheader %}
{% block travel_heading %}{{ place.name }}{% endblock %}
{% block extra_head %}
    <script type="text/javascript" src="{{ MEDIA_URL }}travel/js/jquery-ui-timepicker-addon.js" charset="utf-8"></script>
    <script type="text/javascript">
        $(function() {
            $("#tabs").tabs();
            Travelogue.log_entry_prep();
        });
    </script>
{% endblock extra_head %}
{% block travel_content %}
    <div id="tabs">
        <ul>
            <li><a href="#details-tab">Details</a></li>
            <li><a href="#related-tab">Related</a></li>
        </ul>
        <div id="details-tab">{% block tab1 %}
            <table class="item-details">
                <tr>
                    <th>Official name</th>
                    <td>
                        {{ place.full_name }} |
                        <a class="external" href="{{ place.wikipedia_search_url }}">Wikipedia Search</a>
                        {% if place.flag %}
                        <div style="position: relative">
                            <a style="position: absolute; right: 0" href="{{ place.flag.width_512.url }}">
                                <img style="border: 1px solid #ddd;" src="{{ place.flag.width_128.url }}" />
                            </a>
                        </div>
                        {% endif %}
                    </td>
                </tr>
                {% if place.capital %}
                <tr>
                    <th>Capital</th>
                    <td>
                        {% if place.capital %}
                        <a href="{{ place.capital.get_absolute_url }}">{{ place.capital.name }}</a> |
                        <a class="mapit" href="{{ place.capital.google_maps_url }}">Map</a>

                        {% else %}<em>Unknown</em>{% endif %}
                    </td>
                </tr>
                {% endif %}
                {% if place.continent %}
                <tr>
                    <th>Continent</th>
                    <td>
                        <a href="{{ place.continent.get_absolute_url }}">{{ place.continent }}</a>
                    </td>
                </tr>
                {% endif %}
                {% if place.country %}
                <tr>
                    <th>Country</th>
                    <td>
                        <a href="{{ place.country.get_absolute_url }}">{{ place.country }}</a>
                    </td>
                </tr>
                {% endif %}
                {% if place.state %}
                <tr>
                    <th>State</th>
                    <td>
                        <a href="{{ place.state.get_absolute_url }}">{{ place.state }}</a>
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <th>Location</th>
                    <td>
                        {% if place.locality %}{{ place.locality }}<br>{% endif %}
                        {% if place.lat and place.lon %}
                        <a class="latlon mapit" href="{{ place.google_maps_url }}">
                            {{ place.lat }}&deg; Lat, {{ place.lon }}&deg; Lon</a>
                        <span class="latlon"></span>
                        {% endif %}
                    </td>
                </tr>
                {% if place.code %}
                <tr>
                    <th>Code</th>
                    <td>{{ place.code }}</td>
                </tr>
                {% endif %}
                {% block extra_details %}{% endblock extra_details %}
            </table>
        {% endblock tab1 %}
        </div>
        <div id="related-tab">{% block tab2 %}
                <ul class="related-content">{% for rel in place.related_entities %}
                    <li>
                        <a href="{% url travel-entity-relationships place.type.abbr place.code rel.abbr %}">
                            <span>{{ rel.count }}</span> {{ rel.text }}</a>
                    </li>{% empty %}
                    <li><em>No related content available</em></li>
                    {% endfor %}
                </ul>{% endblock tab2 %}
        </div>
    </div>
    {% block detail_content %}{% endblock detail_content %}
    
    {% if user.is_authenticated %}
    <h2>Your Travel Log</h2>
    
    {% with history|length as count %}
    <p>
        You have <strong>{{ count }} entr{{ count|pluralize:"y,ies" }}</strong> 
        for {{ place }} 
    </p>
    <h3>Add a log entry</h3>
    {% include "travel/_log-entry-form.html" %}
    
    {% if count %}
    <h3>Previous Log Entries</h3>
    <table class="ui-widget  ui-widget-content">
    <thead class="ui-widget-header">
        <tr>
            <th>Arrival</th>
            <th>Departure</th>
            <th>Rating</th>
            <th style="width:24px"></th>
        </tr>
    </thead>
    <tbody> {% for entry in history %}
        <tr  class="{% cycle 'odd' 'even'  %}">
            <td>{{ entry.arrival|date:"D, j M y P" }}</td>
            <td>{{ entry.departure|date:"D, j M y P" }}</td>
            <td>{{ entry.get_rating_display }}</td>
            <td>
                <a title="Edit this log entry" href="{{ entry.get_absolute_url }}">
                    <img src="{{ MEDIA_URL }}img/icons/24/edit.png"></a>
            </td>
        </tr> {% endfor %}
    </tbody>
    </table>
    {% endif %}
    {% endwith %}
    {% endif %}
    
    {% if user.is_superuser %}
    <div style="background-color: #fffd9e; margin: 2em 0;border: 2px solid #800; padding: 4px; color: #800; font-style: italic;">
        <form action="{% url travel-flag-upload place.id %}" method="post">
            <table>
                <tr>
                    <td style="text-align: right"><label>Flag URL:</label></td>
                    <td><input  style="width:96%" type="text" name="url" size="60" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Upload"></td>
                </tr>
            </table>
        </form>
    </div>
    {% endif %}
{% endblock travel_content %}