{% extends "travel/base.html" %}
{% load staticfiles %}
{% block travel_heading %}{{ place.name }}{% endblock %}
{% block extra_head %}
    <script type="text/javascript" src="{% static 'js/jquery-ui-timepicker-addon.js' %}" charset="utf-8"></script>
    <style type="text/css" media="screen">
        form table th { text-align: right; width: 20%; }
        form table td { width: 80%; }
        form table td input[type=text] { width: 100%; }
        #id_lat, #id_lon { width: 15em; }
    </style>
{% endblock extra_head %}
{% block travel_content %}
    <p>
        <img style="border: 1px solid #ddd;" src="{{ place.flag.svg.url }}">
    </p>
    {% if user.is_superuser %}
    <form class="form-horizontal" action="" method="post" accept-charset="utf-8">
        {% load bootstrap3 %}
        {% bootstrap_form form layout="horizontal" horizontal_label_class='col-md-2' horizontal_field_class='col-md-10' %}
        {% buttons layout="horizontal" %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "edit" %} Save
        </button>
        {% endbuttons %}
    </form>
    {% endif %}
{% endblock travel_content %}