{% extends "travel/base.html" %}
{% block title %}{{ single_label}} Listing{% endblock title %}
{% block subheader %}{{ block.super }} {# <span id="subheader-descr">Listing</span> #}{% endblock subheader %}
{% block travel_heading %}{{ type }} listing
    {% if parent %}for <a href="{{ parent.get_absolute_url }}">
        <span class="flag-bg" style="background-image: url({{ parent.flag.width_32.url }});">{{ parent }}</span></a>
    {% endif %}
{% endblock %}
{% block travel_content %}
    <p>
        Total: {{ places|length }} {{ plural_label }} 
    </p>
    {% load pagination_tags jargon %}
    {% autopaginate places 100 %}
    {% memoize pagination %}{% paginate %}{% endmemoize %}
    
    <table class="ui-widget ui-widget-content">
        <thead>
            <tr class="">
                {% block list_header %}{% endblock list_header %}
            </tr>
        </thead>
        <tbody> 
            {% block listing %}{% endblock listing %}
        </tbody>
    </table>
    {{ pagination }}
{% endblock travel_content %}




