{% extends "travel/entities/listing-base.html" %}
{% block list_header %}
    <th>Name</th>
    <th>Location</th>
    <th>State</th>
    <th>County</th>
    <th></th>
{% endblock list_header %}
{% block listing %}
    {% for place in places %}
    <tr>
        <td>
            <a href="{{ place.get_absolute_url }}">{{ place.name }}</a>
        </td>
        <td>{{ place.locality }}</td>
        <td>{% if place.state %}
            <a href="{{ place.state.get_absolute_url}}">
                <img class="flag" src="{{ place.state.flag.thumb.url }}" />
                {{ place.state.name }}</a>{% endif %}
        </td>
        <td>
            <a href="{{ place.country.get_absolute_url }}">
                <img src="{{ place.country.flag.thumb.url }}" />
                {{ place.country.name }}</a>
        </td>
        <td>{% if place.id in checklist %}
            <i class="glyphicon glyphicon-ok visited-icon"></i>{% endif %}
        </td>
    </tr>
    {% endfor %}
{% endblock listing %}
