{% extends "travel/entities/listing-base.html" %}
{% block list_header %}
    <th>Name</th>
    <th>State</th>
    <th>County</th>
    <th></th>
{% endblock list_header %}
{% block listing %}
    {% for place in places %}
    <tr class="{% cycle 'odd' 'even' %}">
        <td>
            <a href="{{ place.get_absolute_url }}">{{ place.name }}</a>
        </td>
        <td>
            {% if place.state %}<a href="{{ place.state.get_absolute_url}}">
                <img class="flag" src="{{ place.state.flag.width_32.url }}" />
                {{ place.state.name }}
            </a>
            {% else %}Unknown
            {% endif %}
        </td>
        <td>
            <a href="{{ place.country.get_absolute_url }}">
                <img src="{{ place.country.flag.width_32.url }}" />
                {{ place.country.name }}</a>
        </td>
        <td>{% if place.id in checklist %}
            <img src="{{ MEDIA_URL }}img/icons/32/accept.png">{% endif %}
        </td>
    </tr>
    {% endfor %}
{% endblock listing %}

