{% extends "travel/entities/listing-base.html" %}
{% block list_header %}
    <th>Flag</th>
    <th>Name</th>
    <th>Designation</th>
    <th>Capital</th>
    <th>County</th>
    <th></th>
{% endblock list_header %}
{% block listing %}
    {% for place in places %}
    <tr>
        <td>{% if place.flag %}
            <img class="flag" src="{{ place.flag.thumb.url }}" />
        {% endif %}</td>
        <td>
            <a href="{{ place.get_absolute_url }}">
                {% firstof place.name place.full_name %}</a>
        </td>
        <td>{{ place.type_detail }}</td>
        <td>
            <a href="{{ place.capital.get_absolute_url }}">
                {{ place.capital.name }}</a>
        </td>
        <td>
            <a href="{{ place.country.get_absolute_url }}">
                <img class="flag" src="{{ place.country.flag.thumb.url }}" />
                {{ place.country.name }}</a>
        </td>
        <td>{% if place.id in checklist %}
            <i class="glyphicon glyphicon-ok visited-icon"></i>{% endif %}
        </td>
    </tr>
    {% endfor %}
{% endblock listing %}
