{% extends "travel/entities/listing-base.html" %}
{% block list_header %}
    <th>Flag</th>
    <th>Name</th>
    <th>Designation</th>
    <th>Capital</th>
    <th>County</th>
{% endblock list_header %}
{% block listing %}
    {% for place in places %}
    <tr class="{% cycle 'odd' 'even' %}">
        <td>{% if place.flag %}
            <img class="flag_icon" src="{{ place.flag.width_32.url }}" />
        {% endif %}</td>
        <td>
            <a href="{{ place.get_absolute_url }}">
                {% firstof place.name place.full_name %}</a>
        </td>
        <td>{{ place.get_type_display }}</td>
        <td>
            <a href="{{ place.capital.get_absolute_url }}">
                {{ place.capital.name }}</a>
        </td>
        <td>
            <a href="{{ place.country.get_absolute_url }}">
                <img src="{{ place.country.flag.width_16.url }}" />
                {{ place.country.name }}</a>
        </td>
    </tr>
    {% endfor %}
{% endblock listing %}
