{% if is_paginated %}
{% load i18n %}
<div >
<ul class="pagination pagination-sm">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}{{ getvars }}" class="prev">&laquo; {% trans "previous" %}</a></li>
    {% else %}
    <li class="disabled"><span>&laquo; {% trans "previous" %}</span></li>
    {% endif %}
    {% for page in pages %}
    {% if page == page_obj.number %}
    <li class="active"><span>{{ page }}</span></li>
    {% else %}
    {% if page %}<li><a href="?page={{ page }}{{ getvars }}">{{ page }}</a></li>
    {% else %}<li><span>...</span></li>{% endif %}
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}{{ getvars }}">{% trans "next" %} &raquo;</a></li>
    {% else %}
    <li class="disabled"><span>{% trans "next" %} &raquo;</li></span>{% endif %}
</ul>
</div>{% endif %}
