{% extends "travel/base.html" %}
{% load staticfiles %}
{% block travel_heading %}Travelogue for {{ profile.user.username }}{% endblock %}
{% block travel_content %}
    {% if profile.is_public or profile.user == request.user %}
    <div class="profile-filter well well-sm">
        <div class="form-inline">
            <div class="form-group">
                <label for="id_filter">Filter by</label>
                <select id="id_filter" class="filter_ctrl form-control input-sm">
                    <option value="">-- All types --</option>
                    <option value="cn">Continents</option>
                    <option value="co">Countries</option>
                    <option value="st">States</option>
                    <option value="ap">Airports</option>
                    <option value="ct">Cities</option>
                    <option value="np">National Parks</option>
                    <option value="lm">Landmarks</option>
                    <option value="wh">World Heritage</option>
                </select>
            </div>
            <div class="form-group" id="show_countries">
                <label for="id_co">in</label>
                <select id="id_co" class="filter_ctrl form-control input-sm">
                    <option value="">-- All countries --</option>
                </select>
            </div>
            <div class="form-group" id="limit_logs">
                <label for="id_limit">limited to</label>
                <select id="id_limit" class="filter_ctrl form-control input-sm">
                    <option value="">-- All entries --</option>
                    <option value="first">First visit</option>
                    <option value="recent">Recent visit</option>
                </select>
            </div>
            <div class="form-group">
                <label for="id_timeframe">and</label>
                <select id="id_timeframe" class="filter_ctrl form-control input-sm">
                    <option value="">-- All Dates --</option>
                    <option value="-">Before</option>
                    <option value="+">After</option>
                    <option value="=">For Year</option>
                </select>
                <input type="text" id="id_date" class="form-control filter_ctrl input-sm">
            </div>
            <div class="form-group" id="id_count"></div>
        </div>
        <div id="summary"></div>
    </div>
    <table id="history" class="table table-hover table-condensed table-striped">
        <thead>
            <tr>
                <th></th>
                <th data-column="type__title" data-order="desc">Type <span class="order"></span></th>
                <th data-column="name" data-order="desc">Name <span class="order"></span></th>
                <th class="current" data-column="recent_visit" data-order="desc">This Visit <span class="order"></span></th>
                <th data-column="first_visit" data-order="desc">First Visit <span class="order"></span></th>
                <th data-column="num_visits" data-order="desc">Logs <span class="order"></span></th>
                <th data-column="rating" data-order="desc">Rating <span class="order"></span></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    {% else %}
    <p>
        <strong>{{ profile.user.username }}</strong> has chosen not to share any travel information
    </p>
    {% endif %}
{% endblock travel_content %}
{% block end_body %}
    {% if profile.is_public %}
    <script src="/static/pikaday/pikaday.js"></script>
    <script type="text/javascript" charset="utf-8">
        (function() {
            var history = {{ profile.history_json|safe }};
            Travelogue.profileHistory(
                history.entities,
                history.logs,
                {'mediaPrefix': '{{ MEDIA_URL }}'}
            );
        })();
    </script>
    {% endif %}
{% endblock end_body %}