{% extends "travel/base.html" %}
{% block travel_heading %}Travelogue for {{ profile.user.username }}{% endblock %}
{% block travel_content %}
    {% if profile.is_public %}
    {% with profile.history_details as history_details %}
    {% with history_details.history as history %}
    <p>
        <strong>Show</strong>
        <select id="id_filter" class="filter_ctrl">
            <option value="">-- All entries --</option>
            <option value="type-cn">Continents</option>
            <option value="type-co">Countries</option>
            <option value="type-st">States</option>
            <option value="type-ap">Airports</option>
            <option value="type-ct">Cities</option>
            <option value="type-np">National Parks</option>
            <option value="type-lm">Landmarks</option>
            <option value="type-wh">World Heritage sites</option>
        </select>
        {% with history_details.countries as co_filter %}
        <strong>in</strong>
        <select id="id_country" class="filter_ctrl">
            <option value="">-- All countries --</option> {% for co in co_filter %}
            <option value="co-{{ co.1}}">{{ co.0 }}</option>{% endfor %}
        </select>
        {% endwith %}
        <span id="id_count"></span>
    </p>
    <table class="ui-widget ui-widget-content travelogue">
        <thead>
            <tr class="ui-widget-header">
                <th></th>
                <th>Type</th>
                <th>Name</th>
                <th>Recent Visit</th>
                <th>First Visit</th>
                <th>Logs</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody id="id_entries"> {% for visit in history %}{% with visit.entity as entity %}
            <tr class="type-{{ entity.type.abbr }}{% if entity.country %} co-{{ entity.country.code}}{% endif %}" data-id="{{ entity.id }}">
                <td>{% if entity.flag %}
                    <img class="flag" src="{{ entity.flag.width_32.url }}" />{% endif %}
                </td>
                <td class="entitytype">{{ entity.type_detail }}</td>
                <td>
                    <a href="{{ entity.get_absolute_url }}">
                        {{ entity }}</a>
                </td>
                <td>
                    <nobr>{{ visit.most_recent_visit|date:"M j, Y" }}</nobr><br />
                    <nobr>{{ visit.most_recent_visit|date:"D, P" }}</nobr>
                </td>
                <td>
                    <nobr>{{ visit.first_visit|date:"M j, Y" }}</nobr><br />
                    <nobr>{{ visit.first_visit|date:"D, P" }}</nobr>
                </td>
                <td>{{ visit.num_visits}}</td>
                <td class="rating">{{ visit.get_rating_display }}</td>
            </tr>{% endwith %}{% endfor %}
        </tbody>
    </table>
    {% endwith %}
    {% endwith %}
    {% else %}
    <p>
        <strong>{{ profile.user.username }}</strong> has chosen not to share any travel information
    </p>
    {% endif %}
{% endblock travel_content %}
{% block extra_body %}
    <script type="text/javascript" charset="utf-8">
        Travelogue.init_profile_filter();
    </script>
{% endblock extra_body %}